<div class="row-fluid">
	<div class="span12">
		<div class="text-center page-header">
			<!-- Logo o nombre del grupo -->
			<h2>Sistemas de información geográfica</h2>
		</div>
		<div>
			<h3>Grupo X</h3>
		</div>
		<div>
			<ul class="unstyled">
				<li><i class="icon-home"></i><a href="#/home"> Home</a></li>
				<li><i class="icon-screenshot"></i><a href="#/tp1"> Trabajo práctico 1</a></li>
				<li><i class="icon-road"></i><a href="#/tp2"> Trabajo práctico 2</a></li>
			</ul>
		</div>
	</div>
</div>